{% extends 'baseTemplates/base.html' %}
{% block content %}
    <div class="row mt-5 ml-3 mr-3">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Customers</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Contact Information</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Total Order</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 ml-5 mr-5 mt-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Orders</th>
                <th scope="col">Products</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.order_set.count }}</td>
                </tr>
            {% endfor %}

{#            {% for customer in customers %}#}
{#                <tr>#}
{#                    <th scope="row">{{ forloop.counter }}</th>#}
{#                    <td>{{ customer.name }}</td>#}
{#                    <td>{{ customer.email }}</td>#}
{#                    <td>{{ customer.phone }}</td>#}
{#                    <td>{{ customer.order_set.count }}</td>#}
{#                </tr>#}
{#            {% endfor %}#}

            </tbody>
        </table>
    </div>

{% endblock %}