{% extends 'baseTemplates/base.html' %}
{% load static %}
{% block content %}
    <!-- Status row starting here -->
    <div class="row mt-5 ml-3 mr-3">
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    {% if total_orders %}
                        <p class="card-text">{{ total_orders }}</p>
                    {% else %}
                        <p class="card-text">0</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Delivered Orders</h5>
                </div>
                <div class="card-body">
                    {% if delivered_orders %}
                        <p class="card-text">{{ delivered_orders }}</p>
                    {% else %}
                        <p class="card-text">0</p>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Pending Orders</h5>
                </div>
                <div class="card-body">
                    {% if pending_orders %}
                        <p class="card-text">{{ pending_orders }}</p>
                    {% else %}
                        <p class="card-text">0</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Dashboard starting here -->
    <h2 class="ml-5 mt-3">Dashboard</h2>
    <hr>
    <div class="row mb-5">
        <div class="col-md-5 ml-4">
            <div class="card">
                <h5 class="card-header">
                    Customers
                    <a class="btn float-right button-col" href="#">Create Customer</a>
                </h5>

                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Orders</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in customers_orders %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ customer.name }}</td>
                                <td>{{ customer.order_set.count }}</td>
                            </tr>
                        {% endfor %}



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mr-4">
            <div class="card">
                <h5 class="card-header">
                    Orders
                    <a class="btn float-right button-col" href="#">Create Order</a>
                </h5>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>

                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Status</th>
                            <th scope="col">Update</th>
                            <th scope="col">Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ order.product }}</td>
                                <td>{{ order.customer }}</td>
                                <td>{{ order.date_created }}</td>
                                <td>{{ order.status }}</td>
                                <td><a href="#"><i class="bi bi-arrow-repeat remove-btn"></i></a></td>
                                <td><a href="#"><i class="bi bi-trash remove-btn"></i></a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
